USE [DbOgrenciNotlari]
GO
/****** Object:  Table [dbo].[TBLDersler]    Script Date: 7.10.2026 00:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDersler](
	[DERSID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](20) NULL,
	[KONTENJAN] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLNOTLAR]    Script Date: 7.10.2026 00:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLNOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRENCI] [int] NULL,
	[DERS] [tinyint] NULL,
	[SINAV1] [smallint] NULL,
	[SINAV2] [smallint] NULL,
	[SINAV3] [smallint] NULL,
	[ORTALAMA] [decimal](5, 2) NULL,
	[DURUM] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRENCILERR]    Script Date: 7.10.2026 00:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRENCILERR](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[OGRAD] [varchar](20) NULL,
	[OGRSOYAD] [varchar](20) NULL,
	[OGRCINSIYET] [varchar](5) NULL,
	[OGRKULUP] [varchar](20) NULL,
	[OGRSEHIR] [varchar](20) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLDersler] ON 

INSERT [dbo].[TBLDersler] ([DERSID], [DERSAD], [KONTENJAN]) VALUES (1, N'Matematik', NULL)
INSERT [dbo].[TBLDersler] ([DERSID], [DERSAD], [KONTENJAN]) VALUES (2, N'Algoritma', NULL)
INSERT [dbo].[TBLDersler] ([DERSID], [DERSAD], [KONTENJAN]) VALUES (3, N'Tarih', NULL)
SET IDENTITY_INSERT [dbo].[TBLDersler] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLNOTLAR] ON 

INSERT [dbo].[TBLNOTLAR] ([NOTID], [OGRENCI], [DERS], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (1, 2, 2, 70, 60, 80, CAST(70.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[TBLNOTLAR] ([NOTID], [OGRENCI], [DERS], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (2, 3, 1, 65, 85, 90, CAST(80.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[TBLNOTLAR] ([NOTID], [OGRENCI], [DERS], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (3, 6, 3, 60, NULL, 90, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBLNOTLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRENCILERR] ON 

INSERT [dbo].[TBLOGRENCILERR] ([OGRID], [OGRAD], [OGRSOYAD], [OGRCINSIYET], [OGRKULUP], [OGRSEHIR]) VALUES (1, N'BASAK', N'AYDONER', N'KADIN', N'PATIPOL', N'BURSA')
INSERT [dbo].[TBLOGRENCILERR] ([OGRID], [OGRAD], [OGRSOYAD], [OGRCINSIYET], [OGRKULUP], [OGRSEHIR]) VALUES (2, N'MERT', N'BULUT', N'ERKEK', N'MUZIK', N'KARABÜK')
INSERT [dbo].[TBLOGRENCILERR] ([OGRID], [OGRAD], [OGRSOYAD], [OGRCINSIYET], [OGRKULUP], [OGRSEHIR]) VALUES (3, N'YILMAZ', N'KELES', N'ERKEK', N'SPOR', N'KARABÜK')
SET IDENTITY_INSERT [dbo].[TBLOGRENCILERR] OFF
GO
